div.o-search
	h1 
		| Busca entre más de 
		span.orange 61000 
		| avisos de inmuebles
	form.m-search
		select.a-search-type.bg-orange
			option Quiero comprar
			option Quiero alquilar
		select.a-search-type.search-categorie
			option Quiero Departamento
			option Quiero Casas
			option Terrenos
			option Oficinas
			option Locales
			option Todos
		input(type="text" placeholder="Busca por distrito, descripción o código").a-search-input
		button.btn.btn-search.bg-orange Buscar
			span.ico.search
		div.search-links
			a(href="" class="a-search-links") Casas de Playa |
			a(href="" class="a-search-links") Casas de Campo |
			a(href="" class="a-search-links") Alquiler Turistas 



