.container-info-left{
	width: 74%;
	text-align: left;
    margin-bottom: 14px;
}
.container-info-rigth{
	width: 26%;
}
.follow{
	font-size: 18.2px;
	line-height: 21px;
	margin: 14px 0;
	text-shadow: 0 1px 2px #333;
	text-align: right;
}
.social_networks{
	text-align: right;
}
.social_networks-redes{
	font-size: 0;
	margin: 0 0 0 8.4px;
	text-indent: -9999;
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}
.gp{
	@include sprite($ico-googleplus);
}
.tw{
	@include sprite($ico-twitter);
}
.fb{
	@include sprite($ico-facebook);
}
.pt{
	@include sprite($ico-pinterest);	
}
.ico-ventas{
	@include sprite($ico-central-ventas);
	float: right;
}
.web-central{
    margin-top: 30px;
    text-align: left;
    padding-left: 22px;
}
.web-central-tlf{
    width: 85%;
    display: inline-block;
    text-shadow: 0 1px 2px #333;
    margin: 0;
    line-height: 1.5;
}
.web-central-tl-option{
	font-size: 15px;
}
.web-central-horario{
    padding-top: 5px;
    font-size: 13px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
    padding-bottom: 19px;
    margin-bottom: 26px;
}
.web-central-help{
	font-size: 16.13px!important;
	text-shadow: 0 1px 2px #333;
}
.footer-info-list{
	margin-top: 2px;
}
.help{
	@include sprite($ico-help2);
    float: right;
	position: relative;
	top: -5px;
}
.web-central-app{
	overflow: hidden;
    margin: 0;
    width: 100%;
	margin-top: 35px;
	margin-left: -13px;
}
.google-play{
	@include sprite($googleplay);
	float: left;
	cursor: pointer;
}
.app-store{
	@include sprite($appstore);
	float: right;
	cursor: pointer;
}
.help3{
	@include sprite($ico-help3);
	display: inline-block;
    position: absolute;
    right: 0;
}
.help6{
	@include sprite($ico-help6);
	display: inline-block;
    position: absolute;
    right: 0;
}
.web-central-help-guide{
	margin-top: 21px;
}
.web-central-help-guide li{
	font-size: 13px;
	line-height: 25px;
}