.o-menu{
  background-color:#9bba38;
  width: 100%;
  clear:fix;
  height: 75px;
} 
.o-menu nav{
  lost-center: 980px;
}
.o-menu ul{
  margin: 0;
  padding: 0;
}
.o-menu_itemLogo{
  float: left;
  margin-top: 10px;
}
.o-menu_item{
  float: left;
  list-style: none;
}
.o-menu_itemTarget{
  color:white;
  text-decoration: none;
  padding: 0 10px;
  display: block;
  line-height: 75px
}
.o-menu_itemTarget:hover{
  color: #4d5f1a;
}
