.o-menu{
  background-color:#9bba38;
  width: 100%;
  clear:fix;
  height: 75px;
  font-family:$family2;
  font-size:14px;
} 
.o-menu_main{
  float:left;
}
.o-menu nav{
  lost-center: 980px;
}
.o-menu ul{
  margin: 0;
  padding: 0;
  list-style:none;
}
.o-menu_itemLogo{
  float: left;
  margin-top: 12px;
}
.o-menu_itemLogo a{
  margin-left:10px;
}
.o-menu_item{
  float: left;
  list-style: none;
}
.o-menu_itemTarget{
  transition:all .2s ease-in; 
  color:white;
  text-decoration: none;
  padding: 0 20px;
  display: block;
  line-height: 75px
}
.o-menu_itemTarget:hover{
  color: #4d5f1a;
}

.o-menu_itemActions{
  margin-left:16px;
  float:left;
}

.o-menu_itemAction.postAdd{
  list-style:none;
  text-align:right;
}
.o-menu_itemAction.postAdd a{
  line-height:36px;
  color:white;
  text-decoration:none;
  font-size:12px;
}
.o-menu_itemAction.register, 
.o-menu_itemAction.login{
  float:left;
  list-style:none;
}
.o-menu_itemAction.register + .o-menu_itemAction.login{
  margin:0 2px;
}
.o-menu_itemAction.register a,
.o-menu_itemAction.login a{
  border-radius:6px;
  display:block;
  text-decoration:none;
  color:white;
  padding:0 10px;
  line-height:30px;
}
.o-menu_itemAction.register a{
  background-color:#ed6318;
}
.o-menu_itemAction.login a{
  background-color:#5d7612;
}
