include ../_config/page.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	include _partials/head.jade
	body
		include _render/header.jade
		//- -- --
		block content
		//- -- --
		include _render/footer.jade
