@import "_utilities/_variables.css";

<% _.each(dirList, function(fontName) { %>
@font-face{
	font-family: "<%= fontName %>";
	src: url("/fonts/<%=fontName%>/<%=fontName%>-webfont.eot");
	src: url("/fonts/<%=fontName%>/<%=fontName%>-webfont.eot?#iefix") format("embedded-opentype"),
		url("/fonts/<%=fontName%>/<%=fontName%>-webfont.woff") format("woff"),
		url("/fonts/<%=fontName%>/<%=fontName%>-webfont.ttf") format("truetype"),
		url("/fonts/<%=fontName%>/<%=fontName%>-webfont.svg#<%=fontName%>") format("svg");
	font-style: normal;
	font-weight: normal;
}
<% }); %>
