div.payment_methods
	.u-content.footer.footer-flex
		p Tu Compra es 100% segura: 
		a(href="")
			img(src="http://placehold.it/56x22")
		a(href="")
				img(src="http://placehold.it/56x22")
		a(href="")
			img(src="http://placehold.it/56x22")
		a(href="")
			img(src="http://placehold.it/56x22")
		a(href="")
			img(src="http://placehold.it/56x22")
		a(href="")
			img(src="http://placehold.it/56x22")
		p.payment_methods-p
			|Autorizado por Visa para realizar 
			br
			|transacciones electrónicas
		