div.payment_methods
	.footer.footer-flex.payment_methods-containt
		p.a-payment-methods Tu Compra es 100% segura: 
		a.payment_methods-pay.payment.pe(href="")
		a.payment_methods-pay.payment.visa(href="")
		a.payment_methods-pay.payment.master(href="")
		a.payment_methods-pay.payment.verified(href="")
		a.payment_methods-pay.payment.securecode(href="")
		a.payment_methods-pay.payment.verifiedvisa(href="")
		p.payment_methods-pay.payment_methods-p
			|Autorizado por Visa para realizar 
			br
			|transacciones electrónicas
		