div.footer
	p.footer-link-p Visite también:
	ul.footer-link
		each item in ['elcomercio.pe', 'peru.com', 'peru21', 'laprensa.com.pe', 'gestion.pe', 'depor.pe ', 'trome.pe', 'ecomedia.pe', 'shopin.pe', 'aptitus.com', ' neoauto.com', 'guiagps.pe', 'ofertop.pe', 'perured.pe', 'publimetro.pe', 'pagoefectivo.pe', 'clasificados.pe', 'clubelcomercio.pe', 'urbaniala.com']
			li.nav-item: a(href="")= item
			i.footer-link-separator