p LOGO
	section.u-grid
		div.u-grid-col
			p.u-grid-title Acerca de Urbania
			ul
				li
					a(href="" class="a-grid-item") Quiénes somos
				li
					a(href="" class="a-grid-item") Mapa de sitios
				li
					a(href="" class="a-grid-item") Vender
				li
					a(href="" class="a-grid-item") Alquilar
				li
					a(href="" class="a-grid-item") Proyectos
				li
					a(href="" class="a-grid-item") Inmobiliarias & Constructores
				li
					a(href="" class="a-grid-item") Agentes
				li
					a(href="" class="a-grid-item") Calculadora Hipotecaria
				li
					a(href="" class="a-grid-item") Curso Agente inmobiliario
				li
					a(href="" class="a-grid-item") Oportunidad de negocio
		div.u-grid-col
			p.u-grid-title Distritos más buscados
			ul
				li
					a(href="" class="a-grid-item") Miraflores
				li
					a(href="" class="a-grid-item") Santiago De Surco
				li
					a(href="" class="a-grid-item") San Isidro
				li
					a(href="" class="a-grid-item") La Molina
				li
					a(href="" class="a-grid-item") San Borja
				li
					a(href="" class="a-grid-item") Magdalena Del Mar
				li
					a(href="" class="a-grid-item") Pueblo Libre
				li
					a(href="" class="a-grid-item") Ver todos los distritos
		div.u-grid-col
			p.u-grid-title Proyectos más vistos
			ul
				li
					a(href="" class="a-grid-item") Escala
				li
					a(href="" class="a-grid-item") Los Miradores Del Cielo
				li
					a(href="" class="a-grid-item") Empresa Inmobiliaria
				li
					a(href="" class="a-grid-item") Condominio
				li
					a(href="" class="a-grid-item") Parkoffice
				li
					a(href="" class="a-grid-item") Departamento En Campo
				li
					a(href="" class="a-grid-item") Benevento
			p.u-grid-title Otros
				ul
					li
					a(href="" class="a-grid-item") Blog
					li
						a(href="" class="a-grid-item") App mobile