div.m-copyright
	.footer.footer-flex
		p Copyright Urbania 2016
		ul.copyright-content-link.footer-flex
			each item in ['Términos y Condiciones', 'Política de Publicación', 'Políticas de Privacidad']
				li.copyright-nav-item: a(href="")= item
		p.copyright-content-p
			span.libro-reclamaciones
			| Libro de Reclamaciones
		