div.payment_methods
	.u-content.footer.footer-flex
		p Tu Compra es 100% segura: 
		a.payment.pe(href="")
		a.payment.visa(href="")
		a.payment.master(href="")
		a.payment.verified(href="")
		a.payment.securecode(href="")
		a.payment.verifiedvisa(href="")
		p.payment_methods-p
			|Autorizado por Visa para realizar 
			br
			|transacciones electrónicas
		