div.container-info-left
	p.logo_footer(src="")
	section.u-grid
		div.u-grid-col3
			p.u-grid-title Acerca de Urbania
			ul
				each item in ['Quiénes somos', 'Mapa de Sitio', 'Vender', 'Alquilar', 'Proyectos', 'Inmobiliarias & Constructores', 'Agentes', 'Calculadora Hipotecaria', 'Curso Agente inmobiliario', 'Oportunidad de negocio']
					li.footer-info-list: a.a-grid-item(href="")= item
		div.u-grid-col3
			p.u-grid-title Distritos más buscados
			ul
				each item in ['Miraflores', 'Santiago De Surco', 'San Isidro', 'La Molina', 'San Borja', 'Magdalena Del Mar', 'Pueblo Libre', 'Ver todos los distritos']
					li.footer-info-list: a.a-grid-item(href="")= item
		div.u-grid-col3
			p.u-grid-title Proyectos más vistos
			//ul
				each item in ['Edificio Residencial "otsu"']
					li: a.a-grid-item(href="")= item
			p.u-grid-title Otros
				ul
					each item in ['Blog', 'App mobile']
						li.footer-info-list: a.a-grid-item(href="")= item
div.container-info-rigth.social_networks
	p.follow Síguenos en:
	a.social_networks-redes.gp(href="")
	a.social_networks-redes.pt(href="")
	a.social_networks-redes.tw(href="")
	a.social_networks-redes.fb(href="")
	div.web-central
		div
			p.web-central-tlf FONOVENTAS 
				br
				span.web-central-tl-option (01) 311-6707 - opción 1
			span.ico-ventas
		p.web-central-horario
			|Lunes a Viernes de 9 am a 7 pm
			br
			|Sábado de 9 am a 1 pm
		p.web-central-help Estamos para ayudarte
			span.help
		ul.web-central-help-guide
			li 
				a(href="" class="web-central-help-guide-a") Preguntas Frecuentes
					span.help3
			li 
				a(href="" class="web-central-help-guide-a") Contáctanos vía mail
					span.help6
		div.web-central-app
			a.google-play
			a.app-store