div.footer.m-footer-link
	p.a-footer-link-p Visite también:
	ul.a-footer-link-list
		each item in ['elcomercio.pe', 'peru.com', 'peru21', 'laprensa.com.pe', 'gestion.pe', 'depor.pe ', 'trome.pe', 'ecomedia.pe', 'shopin.pe', 'aptitus.com', ' neoauto.com', 'guiagps.pe', 'ofertop.pe', 'perured.pe', 'publimetro.pe', 'pagoefectivo.pe', 'clasificados.pe', 'clubelcomercio.pe', 'urbaniala.com']
			li.q-footer-link-nav-item: a(href="")= item
			i.q-footer-link-separator