div.container-info-left
	p.logo_footer(src="")
	section.u-grid
		div.u-grid-col
			p.u-grid-title Acerca de Urbania
			ul
				each item in ['Quiénes somos', 'Mapa de sitios', 'Vender', 'Alquilar', 'Proyectos', 'Inmobiliarias & Constructores', 'Agentes', 'Calculadora Hipotecaria', 'Curso Agente inmobiliario', 'Oportunidad de negocio']
					li: a.a-grid-item(href="")= item
		div.u-grid-col
			p.u-grid-title Distritos más buscados
			ul
				each item in ['Miraflores', 'Santiago De Surco', 'San Isidro', 'La Molina', 'San Borja', 'Magdalena Del Mar', 'Pueblo Libre', 'Ver todos los distritos']
					li: a.a-grid-item(href="")= item
		div.u-grid-col
			p.u-grid-title Proyectos más vistos
			ul
				each item in ['Escala', 'Los Miradores Del Cielo', 'Empresa Inmobiliaria', 'Condominio', 'Parkoffice', 'Departamento En Campo', 'Benevento']
					li: a.a-grid-item(href="")= item
			p.u-grid-title Otros
				ul
					li
						a(href="" class="a-grid-item") Blog
					li
						a(href="" class="a-grid-item") App mobile
div.container-info-rigth.social_networks
	p.follow Síguenos en:
	a.gp(href="")
	a.pt(href="")
	a.tw(href="")
	a.fb(href="")