div.copyright
	.u-content.footer.footer-flex
		p Copyright Urbania 2016
		ul.copyright-content-link.footer-flex
			each item in ['Términos y Condiciones', 'Política de Publicación', 'Políticas de Privacidad']
				li.nav-item: a(href="")= item
		p 
			|Autorizado por Visa para realizar 
			br
			|transacciones electrónicas
		