ul.nav
	li.nav-item
		a(href="javascript:;" class="nav-item-a") Venta
	li.nav-item
		a(href="javascript:;" class="nav-item-a") Alquiler
	li.nav-item
		a(href="javascript:;" class="nav-item-a") Proyectos
		div.down_menu
			ul
				li
					a(href="") Proyectos Scotiabank
				li
					a(href="") Todos los Proyectos
	li.nav-item
		a(href="javascript:;" class="nav-item-a") Otros
		div.down_menu
			ul
				li
					a(href="") Inmobiliaria & Constructoras
				li
					a(href="") Agentes
				li
					a(href="") Calculadora Hipotecaria
	li.nav-item
		span.nav-item-title Pide tu crédito
		a(href="javascript:;" class="nav-item-a")
			img(src='http://urbania.pe.s3.amazonaws.com/pre.3b.urbania.pe/static/online/img/icono.png?201603211456')
	li.nav-item.register
		span.nav-item-title Publica tu aviso
		div.login
			a(href="javascript:;" class="item_register bg-orange") Regístrate
			a(href="javascript:;" class="item_register bg-green") Ingresa


	style.
		.nav-item{
		position: relative;
		justify-content: center;
		padding: 0 20px;
		}
		.nav-item .nav-item-a{
		line-height: 75px;
		display: block;
		font-weight: 600;
		}
		.nav-item .nav-item-a:hover{
		color: rgba(0, 0, 0, 0.5);
		}
		.nav-item .login{
		display: flex;
		}
		.nav-item-title{
		font-size: 12px;
		line-height: 35px;
		}
		.item_register{
		margin: 0 2px;
		line-height: 30px;
		padding: 0 10px;
		border-radius: 6px;
		}
		.register{
		text-align: right;
		padding: 0 0 0 20px;
		}
		.down_menu{
		display:none;
		position: absolute;
		top: 75px;
		left: -50px;
		right: -44px;
		text-align: center;
		z-index: 5;
		background: white;
		}
		.down_menu a{
		color: black;
		}
		li:hover .down_menu{
		display:block;
		}

		.orange{
		color: #ed6318;
		}
		.bg-orange{
		background: #ed6318;
		}
		.bg-green{
		background: #5d7612;
		}
