footer{
	background: #6e8529;
	color: #fff;
}
.footer{
	max-width: 980px;
	margin: auto;
	padding: 9px 0;
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.u-grid {
  lost-utility: clearfix;
}

.u-grid-title{
	font-size: 18.2px;
	line-height: 21px;
	margin-bottom: 17px;
	text-shadow: 0 1px 2px #333;
}
.a-grid-item{
	background: #5e7221;
	border-radius: 5px;
	display: inline-block;
	font-size: 12.6px;
	line-height: 18.2px;
	margin-bottom: 10px;
	padding: 6.3px 16.8px;

	line-height: 20px;
	margin: 0;
	height: 29px;
	overflow: hidden;
}

.logo_footer{
	@include sprite($logo-urb);
	margin-bottom: 26px;
}

/*payment_methods*/
.footer-flex{
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.payment_methods-containt{
	justify-content:flex-start;
	align-items: center;
}
.payment_methods{
	background: #5e7221;
    padding: 5px 0;
}
.payment_methods-p{
	margin: 0 0 0 17px;
	font-size: 12px;
	width: 204px;
	line-height: 1.5;
}
.a-payment-methods{
	font-size: 18px;
	margin-bottom: 1px;
}
.payment_methods-pay{
	margin-left: 18.5px;
}

/*@media (width<= 900px){
	.u-grid, .payment_methods, .web-central, .m-copyright, .m-footer-link{
		display: none;
	}
}*/