.o-search{
  top: -4px;
}
.m-search{
  width: 96%;
  background: rgba(0, 0, 0, 0.27);
  text-align: left;
  padding: 2%;
  overflow: hidden;
  border-radius: 6px;
  margin: 0 auto;
}
.a-search-type{
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  font-size: 16.8px;
  height: 52px;
  line-height: 52px;
  padding: 0 12.6px;
  width: 192.5px;
  color: white; 
  border: none;
}
.a-search-type option{
  background: #fff;
  color: #000;
}
.search-categorie{
  color: black;
  width: 229.6px;
  background: white;
  border-radius: 0;
}
.a-search-input{
  color: #939393;
  font-family: gotham-medium,arial,sans-serif;
  border: 1px solid #fff;
  border-radius: 0 6px 6px 0;
  font-size: 16px;
  height: 52px;
  line-height: 17px;
  padding: 0 14px;
  width: 468px;
}
.btn{
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font: 18.2px/19.6px gotham,arial,sans-serif;
  padding: 9px 30px 7px;
  transition: color,background .3s ease-in;
  -webkit-transition: color,background .3s ease-in;
  -moz-transition: color,background .3s ease-in;
  -ms-transition: color,background .3s ease-in;
  -o-transition: color,background .3s ease-in;
  outline: 0;
}
.btn-search{
  font: 23px/26px gotham-medium,arial,sans-serif;
  float: right;
  margin-top: 11px;
  font-size: 20px;
  padding: 3px 33px 11px 22px;
}
.search-links{
  float: left;
  margin-top: 35px;
  margin-left: 10px;
}
.a-search-links{
  margin-right: 10px;
  color: #fff;
  font-size: 13px;
  margin: 0 10px;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}
.ico.search{
  @include sprite($ico-search); 
  position: relative;
  display: inline-block;
  left: 15px;
  bottom: -7px;
}