$family1 :'gotham', 'arial', 'sans-serif';
$family2 :'gotham-medium', 'arial', 'sans-serif';
$family3 :'montserrat-regular', 'arial', 'sans-serif';
$family4 :'montserrat-bold', 'arial', 'sans-serif';
$family5 :'gotham-book', 'arial', 'sans-serif';