@import "_variables.css";
@import "_main_sprite.css";
@import "atoms/**/*.css";
@import "molecules/**/*.css";
@import "organisms/**/*.css";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background: #ECE9E2;
	font-family: $family1;
}
a{
	color: white;
	text-decoration: none;
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	display: inline-block;
}
ul{
	list-style:none;
}
.wrapper{
	display:flex;
	flex-direction:column;
}
.orange{
	color: #ed6318;
}
.bg-orange{
	background: #ed6318;
}
.bg-green{
	background: #5d7612;
}
.test{
	@include sprite($ovalado);
}
.payment.pe{
	@include sprite($ico-cardpe);
}
.payment.visa{
	@include sprite($ico-cardvisa);
}
.payment.master{
	@include sprite($ico-cardmastercard);
}
.payment.verified{
	@include sprite($ico-cardbyvisa);
}
.payment.securecode{
	@include sprite($ico-cardsecurecode);
}
.payment.verifiedvisa{
	@include sprite($ico-cardverified);
}