header.o-menu
  nav
    a.o-menu_itemLogo(href="")
      img(src="http://local.urbania.ec/static/online/img/logo.png?58350fc")
    ul.o-menu_main
      li.o-menu_item: a.o-menu_itemTarget(href="") Venta
      li.o-menu_item: a.o-menu_itemTarget(href="") Alquiler
      li.o-menu_item: a.o-menu_itemTarget(href="") Proyectos
      li.o-menu_item: a.o-menu_itemTarget(href="") Directorio
      li.o-menu_item: a.o-menu_itemTarget(href="") Servicios
      li.o-menu_item: a.o-menu_itemTarget(href="") Blog
      li.o-menu_itemActions
        ul
          li.o-menu_itemAction.postAdd: a(href="") Publica tu Aviso
          li.o-menu_itemAction.register: a(href="") Regístrate
          li.o-menu_itemAction.login: a(href="") Ingresa
