head
	title Hola home
	meta(name="title" content="title home2")
	+atom all/meta_creator
	style.
		*{
			margin:0;
			padding:0;
			box-sizing:border-box;
		}
		body{
			background: #ECE9E2;
			font-family:Arial;
		}
		.wrapper{
			display:flex;
			flex-direction:column;
		}
		header{
			color:white;
			width:100%;
			height:50px;
			padding:2px 10px;
			background-color:#9BBA38;
			display:flex;
			flex-direction:row;
		}	
		header .logo{
			width:200px;
			height:100%;
			line-height:50px;
			text-align:center;
			border:1px solid white;
			text-transform:uppercase;
		}
		header .header_inner{
			display:flex;
			width:100%;
			max-width:980px;
			margin:0 auto;
			flex-direction:row;
			justify-content:space-between;
		}
		.nav{
			list-style:none;
			display:flex;
			flex-direction:row;
			width:600px;
			border:1px solid white;
			line-height:50px;
			justify-content:space-around;
		}
		.content{
			width:980px;
			min-height:400px;
			background-color:white;
			padding:20px;
			margin:20px auto;
		}