head
	title Hola home
	meta(name="title" content="title home2")
	link(rel="stylesheet" type="text/css" href="/static/home/index.css")
	+atom all/meta_creator
	style.
		*{
			margin:0;
			padding:0;
			box-sizing:border-box;
		}
		body{
			background: #ECE9E2;
			font-family:Arial;
		}
		a{
			color: white;
			text-decoration: none;
			transition: all .2s ease-in;
			-webkit-transition: all .2s ease-in;
			-moz-transition: all .2s ease-in;
			-ms-transition: all .2s ease-in;
			-o-transition: all .2s ease-in;
		}
		ul{
		list-style:none;
		}
		.wrapper{
			display:flex;
			flex-direction:column;
		}
		header{
			position: fixed;
			color:white;
			width:100%;
			padding:0px 10px 5px;
			background-color:#9BBA38;
			display:flex;
			flex-direction:row;
		}
		header .logo{
			width:200px;
			height:100%;
			line-height:50px;
			text-align:center;
			text-transform:uppercase;
		}
		header .header_inner{
			display:flex;
			align-items: center;
			width:100%;
			max-width:980px;
			margin:0 auto;
			flex-direction:row;
			justify-content:space-between;
		}
		.nav{
			list-style:none;
			display:flex;
			flex-direction:row;
			line-height:40px;
			justify-content:space-around;
		}
		.content{
			display: flex;
			align-items: center;
			width:980px;
			min-height:400px;
			background-color:rgba(47, 46, 46, 0.45);
			padding:20px;
			margin:auto;
			height: 100%;
		}
		h1{
			text-align:center;
		}
