head
	title Hola home
	meta(name="title" content="title home2")
	link(rel="stylesheet" type="text/css" href="/static/all/fonts.css")
	link(rel="stylesheet" type="text/css" href="/static/all/index.css")
	link(rel="stylesheet" type="text/css" href="/static/home/index.css")
	+atom all/meta_creator
		
		
