head
	title Hola home
	meta(name="title" content="title home2")
	link(rel="stylesheet" type="text/css" href="/static/all/index.css")
	link(rel="stylesheet" type="text/css" href="/static/home/index.css")
	+atom all/meta_creator
	style.
		*{
			margin:0;
			padding:0;
			box-sizing:border-box;
		}
		body{
			background: #ECE9E2;
			font-family:Arial;
		}
		
