div.u-grid-col4
	div.project-file-containt
		div.project-file
			img(src="http://cde.urbania.pe/elements/29232/avisos/1197717/home/1197717-3116106.jpg?201602221728")
			div.project-file-hover
				a(href="") Ver más +
			div.immovable-price
				p.immovable-price-money S/. 150,000
		div.title-project
			a(href="" class="title-project-subtitle") LOS PARQUES DE VILLA EL SALVADOR II

