div.m-credit-scotiabank
	span.a-credit-scotiabank-nav-item-title Pide tu crédito
	a(href="javascript:;" class="a-nav-item logo-urbania")

div.m-public-notice
	span.a-public-notice-nav-item-title Publica tu aviso
	div.a-public-notice-header-login
		a(href="javascript:;" class="q-public-notice-item_register bg-orange") Regístrate
		a(href="javascript:;" class="q-public-notice-item_register bg-green") Ingresa	