div.a-credit-scotiabank
	span.nav-item-title Pide tu crédito
	a(href="javascript:;" class="a-nav-item")
		img(src='http://urbania.pe.s3.amazonaws.com/pre.3b.urbania.pe/static/online/img/icono.png?201603211456')

div.a-public-notice
	span.nav-item-title Publica tu aviso
	div.header-login
		a(href="javascript:;" class="item_register bg-orange") Regístrate
		a(href="javascript:;" class="item_register bg-green") Ingresa	