div.u-grid-col3
	div.project-file-container
		div.project-file
			img(src="http://pre.3b.e3.urbania.pe/elements/47641/proyectos/1891/home/imagen.jpg?201603220908")
			div.project-file-hover
				a(href="") Ver más +
			div.project-file-price
				p.project-file-price-money
					| Desde
					br
					| US$ 288,900
				img(src="http://pre.3b.e3.urbania.pe/elements/298761/tiendas/149500/home/omar-srl-20150713130701.jpg?201603231614")
		div.title-project
			p.orange.title-project-title Villa el Salvador
			a(href="" class="title-project-subtitle") LOS PARQUES DE VILLA EL SALVADOR II
